<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @author     Marco Schauer <marco.schauer@darkdevelopers.de.de>
  ~ @copyright  2019 Marco Schauer
  -->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Vof Usermanagment Tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite" />
        <server name="DB_DATABASE" value=":memory:" />
        <server name="REDIS_PASSWORD" value=""/>
        <server name="REDIS_CACHE_DB" value="0"/>
    </php>
    <logging>
        <log type="coverage-html" target="./report"
             lowUpperBound="50" highLowerBound="80" />
    </logging>
</phpunit>
